<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	
	<!-- 指定spring的配置文件，默认从web根目录寻找配置文件，我们可以通过spring提供的classpath:前缀指定从类路径下寻找 -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>classpath:beans.xml</param-value>
	</context-param>
	
	
	<!-- 对Spring容器进行实例化 -->
	<listener>
	      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!-- struts启用配置 -->
	<filter>
	      <filter-name>struts2</filter-name> 
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    
    
    <!-- 登录验证servlet配置 -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
      
    <!-- 用户注册servlet配置 -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <!-- 上传图片servlet配置 -->
    <servlet>
        <servlet-name>UpPhotoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.UpPhotoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpPhotoServlet</servlet-name>
        <url-pattern>/UpPhotoServlet</url-pattern>
    </servlet-mapping> 
    
    <!-- 用户信息管理servlet配置 -->
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 区域信息管理servlet配置 -->
    <servlet>
        <servlet-name>AreaInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.AreaInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AreaInfoServlet</servlet-name>
        <url-pattern>/AreaInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 楼盘信息管理servlet配置 -->
    <servlet>
        <servlet-name>BuildingInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.BuildingInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuildingInfoServlet</servlet-name>
        <url-pattern>/BuildingInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 房屋信息管理servlet配置 -->
    <servlet>
        <servlet-name>HourseServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.HourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HourseServlet</servlet-name>
        <url-pattern>/HourseServlet</url-pattern>
    </servlet-mapping>

    <!-- 房屋类别管理servlet配置 -->
    <servlet>
        <servlet-name>HourseTypeServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.HourseTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HourseTypeServlet</servlet-name>
        <url-pattern>/HourseTypeServlet</url-pattern>
    </servlet-mapping>

    <!-- 租金范围管理servlet配置 -->
    <servlet>
        <servlet-name>PriceRangeServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.PriceRangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriceRangeServlet</servlet-name>
        <url-pattern>/PriceRangeServlet</url-pattern>
    </servlet-mapping>

    <!-- 求租信息管理servlet配置 -->
    <servlet>
        <servlet-name>WantHourseInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.WantHourseInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WantHourseInfoServlet</servlet-name>
        <url-pattern>/WantHourseInfoServlet</url-pattern>
    </servlet-mapping>

    <!-- 留言信息管理servlet配置 -->
    <servlet>
        <servlet-name>GuestBookServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.GuestBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestBookServlet</servlet-name>
        <url-pattern>/GuestBookServlet</url-pattern>
    </servlet-mapping>

    <!-- 新闻公告管理servlet配置 -->
    <servlet>
        <servlet-name>NewsInfoServlet</servlet-name>
        <servlet-class>com.mobileserver.servlet.NewsInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsInfoServlet</servlet-name>
        <url-pattern>/NewsInfoServlet</url-pattern>
    </servlet-mapping>

 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
